body {
    background-color: lightgray;
}

.title {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    transition: all .2s ease-in-out;
}

.title:hover {
    transform: scale(1.1);
}

.no_one {
    display: flex;
    justify-content: center;
}

.choices {
    display: flex;
    justify-content: cente
}

.good1{
    transition: all .2s ease-in-out;
    align-items: center;
    display: flex;
    justify-content: center;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid lightgray;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    }
.good1:hover{
    color:#000000;
    background-color:rgba(77, 209, 72, 0.945);
    transform: scale(1.1);
    }
@media all and (max-width:30em){
    .good1{
    display:block;
    margin:0.4em auto;
    }
    }

.good2{
    transition: all .2s ease-in-out;
    align-items: center;
    display: flex;
    justify-content: center;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid lightgray;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    }
.good2:hover{
    color:#000000;
    background-color:rgba(77, 209, 72, 0.945);
    transform: scale(1.1);
    }
@media all and (max-width:30em){
    .good2{
    display:block;
    margin:0.4em auto;
    }
    }

.bad1{
    transition: all .2s ease-in-out;
    align-items: center;
    display: flex;
    justify-content: center;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid lightgray;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    }
.bad1:hover{
    color:#000000;
    background-color:rgb(223, 60, 60);
    transform: scale(1.1);
    }
@media all and (max-width:30em){
    .bad1{
    display:block;
    margin:0.4em auto;
    }
    }

.bad2{
    transition: all .2s ease-in-out;
    align-items: center;
    display: flex;
    justify-content: center;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid lightgray;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    }
.bad2:hover{
    color:#000000;
    background-color:rgb(223, 60, 60);
    transform: scale(1.1);
    }
@media all and (max-width:30em){
    .bad2{
    display:block;
    margin:0.4em auto;
    }
    }

.submit{
    transition: all .2s ease-in-out;
    align-items: center;
    display: flex;
    justify-content: center;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid lightgray;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight:300;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    }
.submit:hover{
        color:#000000;
        background-color:rgba(102, 72, 209, 0.945);
        transform: scale(1.1);
        }
@media all and (max-width:30em){
    .submit{
    display:block;
    margin:0.4em auto;
    }
    }

.q1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
}

.q2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
}

#imageid{
    transition: all .2s ease-in-out;
    align-items: center;
    display: block;
    margin: 0 auto;
    border: 5px solid rgba(102, 72, 209, 0.945);
    max-width: 100%;
    height: 80%;
}
#imageid:hover{
    transform: scale(1.05);
    }