<html>
 <head>
  <title>Emotion-based content generator</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
 </head>
 <body>
    <div class="title">
       <p><span style="font-size: 20pt;">How are you feeling today?</span></p>
       <!-- Title of site -->
    </div>

    <div>
         <!--<script>
         var og = ("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/1024px-SNice.svg.png")
         var.parentNode.replaceChild(img, og);
         </script> -->
       <!-- Sample image (temporary-->
    </div>
       <img id="imageid" src="">

    <div class="choices">
       <p><span style="font-size: 12pt;">How are you?</span></p> 
       <!-- Question 1 (emotion) -->
       
       <button type="radio" class = "good1">Good</button>
       <button type="radio" class = "bad1">Not so good</button>
       <!--<button type="button" class = "good1">Good</button>
       <button type="button" class = "bad1">Not so good</button> -->
    <!-- Response buttons for question 1-->
   </br>
    </div>
   <p><span style="font-size: 12pt;">How do you feel?</span></p>
   <!-- Question 2 (physicality) -->
   <button type="radio" class = "good2">Not so good</button>
   <button type="radio" class = "bad2">Not so good</button>
   <!--<button type="button" class = "good2">Good</button>-->
   <!-- <button type="radio" class = "bad2">Not so good</button> -->
</br>
</br>
<button type="button" class = "submit">This is how I'm feeling</button>
<!-- Response buttons for question 2-->
   

    <img src=""/>
 </body>
 <script type ="text/javascript" src = "/js/img_generator.js"></script>
</html>