<html>
 <head>
  <title>Emotion-based content generator</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
 </head>
 <body>
    <div class="title">
       <p><span style="font-size: 20pt;">How are you feeling today?</span></p>
       <!-- Title of site -->
    </div>
   
    <div>
       <img id="imageid" src="">
    </div>

    <class="choices">
       <p><span class = "q1">How are you?</span></p> 
       </br>

       <!-- Question 1 (emotion) -->
    <div style="text-align:center">
       <button type="button" class = "good1">Good</button>
       <button type="button" class = "bad1">Not so good</button>
       <!-- Response buttons for question 1-->
   
    </div>
       <p><span class = "q2">How do you feel?</span></p>
       </br>
   
       <!-- Question 2 (physicality) -->
    <div style="text-align:center"> 
       <button type="button" class = "good2">Crazy good</button>
       <button type="radio" class = "bad2">Crazy bad</button>
       <!-- Response buttons for question 2-->
    </div>

</br>
</br>
<div style="text-align:center"> 
<button type="button" class = "submit">This is how I'm feeling</button>
</div>
   

 <img src=""/>
 </body>
 <script type ="text/javascript" src = "/js/img_generator.js"></script>
</html>