<html>
 <head>
  <title>Emotion-based content generator</title>
  <link rel="stylesheet" href="style.css">
 </head>
 <body>
    <p><span style="font-size: 20pt;">How are you feeling today?</span></p>
    <!-- Title of site -->

    <IMG SRC=https://thumbs.gfycat.com/ScaredFluidHarborporpoise-size_restricted.gif>
    <!-- Sample image (temporary-->

    <p><span style="font-size: 12pt;">How are you?</span></p> 
    <!-- Question 1 (emotion) -->

    <button type="button">Good</button>
    <button type="button">Not so good</button>
    <!-- Response buttons for question 1-->
    </br>

    <p><span style="font-size: 12pt;">How do you feel?</span></p>
    <!-- Question 2 (physicality) -->

    <button type="button">Good</button>
    <button type="button">Not so good</button>
    </br>
    </br>
    <button type="button">This is how I'm feeling</button>
    <!-- Response buttons for question 2-->

    <img src=""/>
 </body>
</html>